* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blue;
}

.event-session {
    display: inline-block;
    background-color: red;
    margin: 2px;
    padding: 10px;
}

.event-session:hover {
    cursor: pointer;
}

.expanded-event {
    position: fixed;
    top: 50%;
    left: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000055;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay > .profile-container {
    width: 30%;
    height: 70%;
}

.profile-container {
    background-color: white;
    border-radius: 5px;

    overflow-y: auto;
}

button.close-btn
{
    background: none;
    border-style: none;
    color: #686868;
    margin: 0.3em;
    font-size: 1em;
}

.profile-container > img {
    height: 30%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.profile-container > .profile-info {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.profile-bio {
    margin-left: 1em;
    margin-right: 1em;
    max-width: 100%;
}